{% extends "layout.html" %}

{% block body %}
<h1>Welcome, {{ current_user.username}}!</h1>

<h2>Recommended for you</h2>
<p>These tasks are recommended for you based on your previous activity. Either you have done all of the prerequisites of
these tasks or they don't have any prerequisites, so you are probably ready to pick these as your next tasks to work on.</p>
<div>
    <ul class="list-group">
      {% for task in recommendations %}
        <li class="list-group-item">
            <a class="list-group-item-heading" href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
        </li>
      {% endfor %}
    </ul>
</div>


<h2>New tasks for you:</h2>
<p>All tasks you haven't marked as done or in progress. All are shown here
  regardless of what you have done previously, so some of these might have prerequisites
which you haven't yet marked as done or in progress.</p>
<ul>
  {% for task in new %}
  <li>
    <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
