{% extends "layout.html" %}

{% block body %}
<table>
    <th>{{ user.username }}</th>
    <tr>
        <th>In progress</th>
    </tr>
    {% for task in user.tasksinprogress %}
    <tr>
        <td>
            <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
        </td>
    </tr>
    {% endfor %}

    <tr>
        <th>Done</th>
    </tr>

    {% for task in user.tasksdone %}
    <tr>
        <td>
            <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}