{% extends "layout.html" %}

{% block body %}
<h1>Your tasks</h1>

<h2>In progress</h2>
<div>
    <ul class="list-group">
      {% for task in user.tasksinprogress %}
        <li class="list-group-item">
            <a class="list-group-item-heading" href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
            <p class="list-group-item-text">{{ task.description }}</p>
        </li>
      {% endfor %}
    </ul>
</div>

<h2>Done</h2>
<div>
    <ul class="list-group">
      {% for task in user.tasksdone %}
        <li class="list-group-item">
            <a class="list-group-item-heading" href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
            <p class="list-group-item-text">{{ task.description }}</p>
        </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}