{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block body %}
<div class="container">
    <h1>Tasks</h1>
    <p>See all tasks.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                {% if current_user.is_authenticated and not current_user.admin %}
                <th>Your status</th>
                {% else %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    {% if current_user.admin %}
                    <a href="{{ url_for('tasks_update', task_id=task.id) }}">{{ task.name }}</a>
                    {% else %}
                    <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
                    {% endif %}
                </td>
                {% if current_user.is_authenticated and not current_user.admin %}
                {% if task in current_user.tasksdone %}
                <td style="background-color:palegreen;">Done</td>
                {% elif task in current_user.tasksinprogress %}
                <td style="background-color:#f8f874;">In progress</td>
                {% else %}
                <td>Not started</td>
                {% endif %}
                {% endif %}
                {% if current_user.admin %}
                <td>
                    <form method="POST" action="{{ url_for('tasks_delete', task_id=task.id) }}">
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'tasks_index') }}
    </div>
</div>
{% endblock %}