{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.description.label }}
      </td>
      <td>
        {{ form.description }}
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <th>Choose categories:</th>
          {% for category in categories %}
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="categories" value={{category.id}}>
                <label class="form-check-label">
                  {{ category.name }}
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <!-- TODO: paginate somehow evenly, atm centered-->
        <table>
          <th>Assign prerequisites:</th>
          {% for task in tasks %}
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="subtasks" value={{task.id}}>
                <label class="form-check-label">
                  {{ task.name }}
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Create"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
