{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8"><h1>{{ task.name }}</h1></div>
        {% if current_user.is_authenticated and not current_user.admin %}
        <div class="col-sm-2">
            {% if task not in current_user.tasksdone %}
            {% if task in current_user.tasksinprogress %}
            <form method="POST">
                <input type="submit" disabled class="btn btn-primary" value="in progress"/>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('tasks_set_inprogress', task_id=task.id) }}">
                <input type="submit" class="btn btn-primary" value="mark in progress"/>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% if task in current_user.tasksdone %}
            <form method="POST">
                <input type="submit" disabled class="btn btn-success" value="done"/>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
                <input type="submit" class="btn btn-success"value=" mark done"/>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <p>{{ task.description }}</p>

    {% if categories %}
    <div>
        {% for category in categories %}
        <p>
            <a href="{{ url_for('categories_view', category_id=category.id) }}">{{ category.name }}</a>
        </p>
        {% endfor %}
    </div>
    {% endif %}

    {% if subtasks %}
    <div>
        <h4>Prerequisites:</h4>
        {% for subtask in subtasks %}
        <tr>
            <td>
                <a href="{{ url_for('tasks_view', task_id=subtask.id) }}">{{ subtask.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}