{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>{{ task.name }}</th>
        {% if current_user.is_authenticated and not current_user.admin %}
        {% if task in current_user.tasksdone %}
        <th>Done</th>
        {% elif task in current_user.tasksinprogress %}
        <th>In progress</th>
        <td>
            <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
                <input type="submit" value="Mark done"/>
            </form>
        </td>
        {% else %}
        <td>
            <form method="POST" action="{{ url_for('tasks_set_inprogress', task_id=task.id) }}">
                <input type="submit" value="Mark in progress"/>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
                <input type="submit" value="Mark done"/>
            </form>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    <tr>
        <td>{{ task.description }}</td>
    </tr>

    {% for category in categories %}
    <tr>
        <td>
            <a href="{{ url_for('categories_view', category_id=category.id) }}">{{ category.name }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% if current_user.is_authenticated and not current_user.admin %}
{% if subtasks %}
<table>
    <th>Prerequisites:</th>
    {% for subtask in subtasks %}
    <tr>
        <td>
            <a href="{{ url_for('tasks_view', task_id=subtask.id) }}">{{ subtask.name }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}