{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('categories_create') }}">
  <div class="form-group">
    <label for="create_category_name">{{ form.name.label }}</label>
    {{ form.name(class="form-control", id="create_category_name",
    placeholder="Name of the category") }}
    <ul>
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <input type="submit" class="btn btn-primary" value="Create"/>
</form>
{% endblock %}
