{% extends "layout.html" %}

{% block body %}
{% if topdone is defined %}
<h2>
  Top 5 done:
</h2>

<ul class="list-group">
  {% for task in topdone %}
  <li class="list-group-item">
    {% if current_user.admin %}
    <a href="{{ url_for('tasks_update', task_id=task.id) }}">{{ task.name }}</a>
    {% else %}
    <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
    {% endif %}
    <span class="badge">{{task.done_by}}</span>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if topinprogress is defined %}
<h2>
  Top 5 in progress:
</h2>

<ul class="list-group">
  {% for task in topinprogress %}
  <li class="list-group-item">
    {% if current_user.admin %}
    <a href="{{ url_for('tasks_update', task_id=task.id) }}">{{ task.name }}</a>
    {% else %}
    <a href="{{ url_for('tasks_view', task_id=task.id) }}">{{ task.name }}</a>
    {% endif %}
    <span class="badge">{{task.inprogress_by}}</span>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
